{% var items = [{ title: "foo", id: 1 }, { title: "bar", id: 2}]; %}
<div class="w-full md:w-1/2 md:pr-32 order-3 md:order-1">
    <div class="max-w-md md:float-right md:text-right leading-loose tracking-tight md:sticky md:top-0 ">
        <p class="font-bold my-4 md:my-12">Previous Posts</p>

        <ul class="flex flex-wrap justify-between flex-col">
            {% for item in items %}
            <li><a href="#" class="nav">Previous blog posts links</a></li>
            {% endFor %}
        </ul>
        <a href="#" class="normal font-bold hover:font-bold">more...</a>
    </div>
</div>